packaging
jinja2
openai-whisper
jsonlines
pandas
validators
sty
transformers
librosa
accelerate
aiohttp
colorama
omegaconf==2.3.0
sox
six==1.16.0
hyperpyyaml
conformer==0.3.2
diffusers
pillow
sentencepiece
easydict
fire
ujson
cairosvg
immutabledict
rich
wget
gdown
datasets
torchdyn==1.0.6
huggingface_hub
loguru
decord
blobfile
timm
sacrebleu==1.5.1
tqdm
deepspeed==0.16.9
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
litgpt==0.4.3
snac==1.2.0
soundfile==0.13.1
openai-whisper
tokenizers==0.19.1 
streamlit==1.37.1
# PyAudio==0.2.14
pydub==0.25.1
onnxruntime==1.19.0
gradio
fastapi
librosa==0.11.0
flask==3.0.3
fire


